# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Pyenv
.python-version

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# dotenv
.env
.env.*

# Jupyter
.ipynb_checkpoints

# mypy
.mypy_cache/

# celery beat
celerybeat-schedule

# virtualenv
instance/

# local settings
local_settings.py

# PyCharm
*.iml

# End of .gitignore
